In [28]:
import requests
import io
import pandas as pd
url1 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv")
url2 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv")
url3 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-03-2020.csv")
url4 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-04-2020.csv")
url5 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-05-2020.csv")
url6 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-06-2020.csv")
url7 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-07-2020.csv")
url8 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-08-2020.csv")
url9 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-09-2020.csv")
url10 = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-10-2020.csv")

In [23]:
#ข้อที่ 1 นับจำนวน Record ทั้งหมด
test.count() #นับจำนวนทั้งหมด

FIPS              5293
Admin2            5312
Province_State    5490
Country_Region    5851
Last_Update       5851
Lat               5730
Long_             5730
Confirmed         5851
Deaths            5851
Recovered         5851
Active            5851
Combined_Key      5851
dtype: int64

In [25]:
#ข้อที่ 2 จำนวนผู้เสียชีวิต(Death) ระหว่างวันที่ 1 - 2 เมษายน 2563
url = [url1, url2] #url คือ url1-url2
test = pd.concat(url) #เอามาเรียงต่อกัน
test = pd.DataFrame(test, columns= ['Last_Update','Deaths']) #แสดงจำนวนคนที่เสียชีวิต วันที่1-2
test #เรียกใช้test

              Last_Update  Deaths
0     2020-04-01 21:58:49       0
1     2020-04-01 21:58:49       1
2     2020-04-01 21:58:49       0
3     2020-04-01 21:58:49       3
4     2020-04-01 21:58:49       0
...                   ...     ...
2564         4/2/20 23:25       0
2565         4/2/20 23:25       1
2566         4/2/20 23:25       1
2567         4/2/20 23:25       1
2568         4/2/20 23:25       0

[5052 rows x 2 columns]

In [27]:
#ข้อที่ 3 จำนวนผู้เสียชีวิต(Death) ประเทศไทย(Thailand) วันที่ 7 เมษายน 2563
url7 = pd.DataFrame(url7, columns= ['Last_Update','Deaths','Country_Region'])
test = url7.loc[(url7['Country_Region'] == 'Thailand')]
test #เรียกใช้test

              Last_Update  Deaths Country_Region
2838  2020-04-07 23:04:29      27       Thailand

In [ ]:
#ข้อที่ 4 จำนวนผู้รักษาหาย(Recovered) ระหว่างวันที่ 1 - 2 เมษายน 2563
url = [url1, url2] #url คือ url1-url2
test = pd.concat(url) #เอามาเรียงต่อกัน
test2 = pd.DataFrame(test, columns= ['Last_Update','Recovered']) #แสดงจำนวนคนที่เสียชีวิต วันที่1-2
test2 #เรียกใช้test2

In [9]:
#ข้อที่ 5 จำนวนผู้ติดเชื้อ(Confirmed) รัฐ Wisconsin (Province_State) ในวันที่ 10 เมษายน 2563
url10 = pd.DataFrame(url10, columns= ['Province_State','Last_Update','Confirmed'])
test = url10.loc[(url10['Province_State'] == 'Wisconsin')]
test #เรียกใช้test

     Province_State          Last_Update  Confirmed
17        Wisconsin  2020-04-10 22:54:07          2
76        Wisconsin  2020-04-10 22:54:07          1
116       Wisconsin  2020-04-10 22:54:07          6
130       Wisconsin  2020-04-10 22:54:07          3
240       Wisconsin  2020-04-10 22:54:07         55
...             ...                  ...        ...
2538      Wisconsin  2020-04-10 22:54:07        193
2539      Wisconsin  2020-04-10 22:54:07          3
2540      Wisconsin  2020-04-10 22:54:07          2
2615      Wisconsin  2020-04-10 22:54:07         25
2626      Wisconsin  2020-04-10 22:54:07          2

[64 rows x 3 columns]

In [5]:
#ข้อที่ 6  แสดงข้อมูลทั้งหมด
url = [url1, url2, url3, url4, url5, url6, url7, url8, url9, url10] #url คือ url1-url10
test = pd.concat(url) #เอามาเรียงต่อกัน
test #เรียกใช้test

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4.0,0.0,0.0,0.0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47.0,1.0,0.0,0.0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7.0,0.0,0.0,0.0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195.0,3.0,0.0,0.0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1.0,0.0,0.0,0.0,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2936,NaN,NaN,NaN,NaN,2020-04-10 22:53:48,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2937,NaN,NaN,NaN,NaN,2020-04-10 22:53:48,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2938,NaN,NaN,NaN,NaN,2020-04-10 22:53:48,NaN,NaN,40.0,NaN,NaN,NaN,NaN
2939,NaN,NaN,NaN,NaN,2020-04-10 22:53:48,NaN,NaN,13.0,NaN,NaN,NaN,NaN
2940,NaN,NaN,Utah,NaN,2020-04-10 22:54:07,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [20]:
#ข้อที่ 7 จำนวนผู้รักษาหาย(Recovered) ประเทศไทย(Thailand) วันที่ 8-9 เมษายน 2563
url = [url8, url9] #url คือ url1-url2
test = pd.concat(url) #เอามาเรียงต่อกัน
test2 = pd.DataFrame(test, columns= ['Country_Region','Last_Update','Confirmed']) #ใช้ ประเทศ, วันที่และผู้รักษาหาย
test3 = test2.loc[(test2['Country_Region'] == 'Thailand')] #ในประเทศไทย
test3 #เรียกใช้test3

     Country_Region          Last_Update  Confirmed
2864       Thailand  2020-04-08 22:51:39       2369
2892       Thailand  2020-04-09 23:02:19       2423

In [21]:
#ข้อที่ 8 จำนวนผู้เสียชีวิต(Death) ประเทศไทย(US) วันที่ 9-10 เมษายน 2563
url = [url9, url10] #url คือ url1-url2
test = pd.concat(url) #เอามาเรียงต่อกัน
test2 = pd.DataFrame(test, columns= ['Country_Region','Last_Update','Deaths']) #ใช้ ประเทศ, วันที่และผู้เสียชีวิต
test3 = test2.loc[(test2['Country_Region'] == 'US')] #ในประเทศUS
test3 #เรียกใช้test3

     Country_Region          Last_Update  Deaths
0                US  2020-04-09 23:02:37       0
1                US  2020-04-09 23:02:37       3
2                US  2020-04-09 23:02:37       0
3                US  2020-04-09 23:02:37       5
4                US  2020-04-09 23:02:37       0
...             ...                  ...     ...
2724             US  2020-04-10 22:54:07       2
2730             US  2020-04-10 22:54:07      39
2735             US  2020-04-10 22:54:07       0
2753             US  2020-04-10 22:54:07       1
2940             US  2020-04-10 22:54:07       4

[5326 rows x 3 columns]